.timeline {
    text-align: left;
    padding: 0px 0px;
    padding-right: 4rem;
}
.timeline-container {
  height: 400px;
  max-width: 750px;
  width: 100%;
  margin: 2rem auto;
  margin-left: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px;
  overflow-x: auto;
  padding-left: 110px;
  padding-right: 10px;
}


.timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #1c1d80;
  z-index: 0; 
}

.timeline-event {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
}

.timeline-event.above .timeline-content {
  position: absolute;
  top: -210px;
  text-align: center;
}

.timeline-event.below .timeline-content {
  position: absolute;
  bottom: -210px;
  text-align: center;
}

.timeline-circle {
  width: 20px;
  height: 20px;
  background-color: #4CAF50;
  border: 3px solid white;
  border-radius: 50%;
  z-index: 1;
}

.timeline-content {
  margin: 2rem;
  padding: 8px;
  background-color: #f5e6e6;
  border-radius: 8px;
  width: 100px;
  height: 150px;
}

.timeline-content h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.timeline-content p {
  font-size: 14px;
  color: #666;
}
