.timeline {
  text-align: center;
  padding: 20px;
}

.timeline-container {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 0;
  overflow-x: auto
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #1c1d80;
  z-index: 0; 
}

.timeline-event {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  margin: 20px 40px;
}

.timeline-event.above .timeline-content {
  position: absolute;
  top: -110px;
  text-align: center;
}

.timeline-event.below .timeline-content {
  position: absolute;
  bottom: -110px;
  text-align: center;
}

.timeline-circle {
  width: 20px;
  height: 20px;
  background-color: #4CAF50;
  border: 3px solid white;
  border-radius: 50%;
  z-index: 1;
}

.timeline-content {
  background-color: #f5e6e6;
  padding: 10px 15px;
  border-radius: 8px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  max-width: 200px;
}

.timeline-content h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.timeline-content p {
  font-size: 14px;
  color: #666;
}
