.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0d0d;
  color: #fff;
  padding: 6rem 8%;
  min-height: 90vh;
  flex-wrap: wrap;
}

/* --- Texto --- */
.header-content {
  flex: 1;
  margin-right: 1.5rem;
  padding: 2rem;
}

.header-title {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 0.3rem 0;
  color: #fff;
}

.header-title span,
.highlight {
  color: #9b5de5;
}

.header-subtitle {
  font-size: 1.6rem;
  color: #b3b3b3;
  margin: 0.5rem 0 1rem 0;
}

.header-description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ccc;
  max-width: 600px;
}

/* --- Foto estilo "card" --- */
.header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image img {
  width: 280px;
  height: 320px;
  border-radius: 20px;
  object-fit: cover;
  transform: rotate(2deg);
  border: 3px solid #9b5de5;
  box-shadow: 0 10px 25px rgba(155, 93, 229, 0.4);
  background-color: #9b5de5;
}

/* --- Redes sociales --- */
.header-socials {
  display: flex;
  gap: 1.2rem;
  margin-top: 2rem;
  align-items: center;
}

.header-socials a {
  font-size: 2rem;
  color: #9b5de5;
  transition: 0.3s ease;
}

.header-socials a:hover {
  transform: scale(1.1);
  color: #b983ff;
}
.cv-download {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  padding-bottom: 10px  ;
}
.cv-icon {
  font-size: 1.4rem;
  margin-bottom: 0; /* elimina el espacio que lo desplazaba hacia abajo */
}


/* --- Modal --- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #1a1a1a;
  padding: 2rem 3rem;
  border-radius: 12px;
  text-align: center;
  border: 2px solid #9b5de5;
  box-shadow: 0 0 25px rgba(155, 93, 229, 0.5);
}

.modal-subtitle {
  color: #9b5de5;
  margin-bottom: 1rem;
}

.modal-button {
  color: #fff;
  background: #9b5de5;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-button:hover {
  background: #b983ff;
}

.modal-button-salir {
  color: #fff;
  background: red;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}
