.skills {
  align-items: center;
}

.skills h2 {
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
}
.skills h3{
  margin-left: 2rem;
}
.skills-container {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 2rem;
  justify-items: center;
}
.skill-card {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 12px;
  padding: 2rem;
  width: 75px;
  height: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.skill-icon {
  font-size: 4rem;
  color: #00bcd4;
  margin-bottom: 0.5rem;
}

.skill-card h3 {
  font-size: 16px;
  color: #333;
  margin-top: 0.5rem;
  margin-left: 2rem;
}
.skills h4{
  color:#00bcd4;
  margin-top: 0.5rem;
}